/* #mainDiv{
  border: 2px solid red;
}

#sidebarDiv{
  border: 2px solide rgb(187, 206, 80);
}

#bodyDiv{
  border: 2px solide orangered;
}

#navDiv{
  border: 2px solid rebeccapurple;
}

#contentDiv{
  border: 2px solid rgb(51, 150, 153);
}

.box{
  border: 2px solid yellow;
}


.boxDiv{
  border: 2px solid pink;
} */